@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: black;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    /* The Allign */
    justify-content: center; 
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 60px;
    height: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: rgba(68, 178, 206, 1);
}

button {
    /* all: initial; */
    padding: 9px 25px;
    background-color: rgba(68, 178, 206, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* outline: none; */
    /* display:block; */
}

button:hover {
    background-color: rgba(68, 178, 206, 0.8);
 }

 .h1title {
     text-align: center;
     margin-top: 40px;
 }

.sec01 div {
    text-align: center;
    width: 100%;
    padding-top: 50vmin;
    padding-bottom: 20vmin;
    margin-top: 10px;
    margin-bottom: 20;
    background-image: url(./img/cover-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-clip: padding-box; */
}
.sec01 h1{
    /* background-color: transparent; */
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
    font-size: xx-large;
}

.sec02{ 
    margin: auto;
    width: 90%;
    padding: 10px;
    background-color: aqua;
}


.sec02 table{
    float:left;
    margin: 2vmin;
    height: auto;
    width: 300px;
    border-radius: 20px;

}

.sec02 table tr th {
    background-color: azure;
    padding: 3vmin;
    /* height: 100px; */
    /* width: 100px; */
    border-radius: 8px;
}

.sec02 table tr th img{
    width: 80%;
    height: 80%;
    object-fit:scale-down;
}

.sec02 table p {
    color: black;
    padding: 20px;
    font-weight: lighter;
}

.sec02 li {
    /* float: left; */
    border-radius: 2px;
    padding: 20%;
    margin: 20px;
    width: 300px;
    height: 200px;
    object-fit: initial;

}
.sec02 li img{
    width: 50%;
    height: 100%;
    object-fit:initial;
}

.sec03 {
    clear: both;
    background-color: rgb(34, 34, 34);
}
.sec03 div {
    /* float: none; */
    clear: both;
    text-align: center;
    /* width: 84%; */
    padding-top: 20vmin;
    padding-bottom: 20vmin;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    margin-left: 8%;
    margin-right: 8%;
    background-image: url(../HTML-1/img/pexels-andrew-neel-2859169.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-clip: padding-box; */
}
.sec03 h1{
    /* background-color: transparent; */
    /* background-color: aqua; */
    /* margin: 0; */
    /* padding: 0; */
    font-size: xx-large;
}

.sec04 div {
    float: none;
    clear: both;
    text-align: center;
    width: 100%;
    padding-top: 20vmin;
    padding-bottom: 20vmin;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-clip: padding-box; */
}
.sec04 h1{
    /* background-color: transparent; */
    /* background-color: aqua; */
    /* margin: 0; */
    /* padding: 0; */
    color: black;
    font-size: xx-large;
}

.sec05 div {
    float: none;
    clear: both;
    text-align: center;
    width: 100%;
    padding-top: 20vmin;
    padding-bottom: 20vmin;
    margin-top: 10px;
    margin-bottom: 20px;
    /* background-color: azure; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-clip: padding-box; */
}
.sec05 h1{
    /* background-color: transparent; */
    /* background-color: aqua; */
    /* margin: 0; */
    /* padding: 0; */
    font-size: xx-large;
}

.sec05 p{
    margin: 1%;
}

/* footer */
footer {
    display: flex;
    /* The Allign */
    justify-content: space-between; 
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(34, 34, 34);
}

.footer-links {
    list-style: none;
}

.footer-links li{
    display: inline-block;
    padding: 0px 20px;
}

.footer-logo {
    cursor: pointer;
    width: 120px;
    height: auto;
}